.banner{
    position: relative;
}
.banner__image{
    background: linear-gradient(to right, rgba(0 ,0 ,0 ,0.7), rgba(0 ,0 ,0 ,0)), url(../image/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
}
.banner__content-wrapper{
    position: absolute;
    top: 50%;
}
.banner__title h1{
    font-family: var(--champion-regular);
    font-weight: 500;
    line-height: 84px;
}