.nav-link{
    color: var(--color-primary-5);
    border-bottom: 2px solid white;
    width: max-content;
    transition: .5s ease-in-out;
}
.nav-link:hover{
    color: var(--color-primary-4);
    border-bottom: solid 2px var(--color-primary-3);
}
.nav-item{
    padding: 10px;
}